:root {
  --powder-blue: #caf0f8;
  --blizard-blue: #ade8f4;
  --sky-blue: #48cae4;
  --navy-blue: #03045e;
  --star-blue: #0077b6;
  --green-blue: #0096c7;
  --cerulean-blue: #00b4d8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
