.NavBar {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  max-width: 1440px;
  font-size: 1.3rem;
  align-items: center;
  position: fixed;
  padding: 0 10px 10px 10px;
  top: 0;
  border-bottom: 1px solid rgb(110, 117, 116);
}

.logo {
  justify-content: flex-start;
  color: rgb(223, 89, 89);
}

.logo i {
  color: green;
  margin-left: 5px;
}

.search {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 5px;
}

.search input {
  height: 80%;
  width: 90%;
  border-radius: 10px 0 0 10px;
  border: 2px rgb(164, 218, 209) solid;
  outline: none;
  font-size: 1.2rem;
  max-width: 700px;
  padding: 0 5px;
}

.search button {
  cursor: pointer;
  background-color: rgb(164, 218, 209);
  height: 80%;
  width: 60px;
  border: none;
  font-size: 1.4rem;
  color: white;
  margin-right: 5px;
  border-radius: 0 10px 10px 0;
}

.shoppingCart {
  cursor: pointer;
  justify-content: flex-end;
  color: rgb(164, 218, 209);
}

.user {
  cursor: pointer;
  margin-left: 30px;
  color: rgb(41, 46, 45);
}

.shoppingCart i,
.user i {
  margin-right: 5px;
}

@media screen and (max-width: 1024px) {
  .shoppingCart span,
  .user span {
    display: none;
  }
  .user {
    margin-left: 20px;
  }
}
